<div class="single_job">
    <h1><%= @add.title %></h1>
    <div class="job_info clearfix">
        <div class="single_info">Bezahlung: <span>Pauschalbetrag</span></div>
        <div class="single_info">Besucher: <span>168</span></div>
        <div class="single_info">Bewerber: <span>5</span></div>
        <div class="single_info">Offen bis: <span>06.06.2015</span></div>
    </div>
    <div class="job_content">
        <p><%= @add.body %></p>
        <p style="color:red;"><%= @add.user.email %></p>
    </div>
</div>
<% if can? :update, @add %>
  <%= link_to 'Edit', edit_add_path(@add) %>  |
<% end %>
<% if can? :destroy, @add %>
    <%= link_to 'Delete',  { action: :destroy, id: @add.id }, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', adds_path %>